body, html {
    margin: 0;
    padding: 0;
}

.mainPregunta {
  background-color: #424038;
  min-height: 100vh;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  align-items: center;     
  padding: 25px;
  overflow-wrap: break-word;
}

.boxPregunta{
    max-width: 700px;         
    margin: 50px auto;       
    padding: 30px;
    background-color: #424038; 
    border-radius: 20px;      
    text-align: left;       
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
}

.h2Pregunta {
    font-size: 2.5rem;
    color: aliceblue;
    margin-bottom: 10px; 
}

.autor {
    font-size: 1.1rem;
    color: aliceblue;     
    margin-top: 0;
    margin-bottom: 20px; 
}

.descripcion {
    font-size: 1.6rem;
    color: aliceblue;
    line-height: 1.6;   
}

button {
  background-color: #6c63ff; 
  color: white;              
  border: none;              
  padding: 14px 28px;        
  border-radius: 8px;        
  font-size: 1.2rem;         
  cursor: pointer;           
  transition: 0.3s ease;     
  margin: 20px auto;         
  display: block;
}

button:hover {
  background-color: #5750d9;
}

.botonResponder{
    color: white;
    
}

.formularioRespuesta {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  width: 100%; 
}

.textareaRespuesta {
  width: 100%;
  min-height: 40px;         
  max-height: 200px;        
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;;
  resize: none;             
  overflow-y: auto;         
  box-sizing: border-box;
}


.boxFormulario {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  width: 800px;
  align-items: center; 
}


.respuestas{
    font-size: 1.3rem;
    color: aliceblue;
}

.respuestas {
  font-size: 1.3rem;
  color: aliceblue;
  background: #2c2a24;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votos {
  display: flex;
  align-items: center;
  gap: 10px;
}

h3{
    font-size: 1.5rem;
    color: aliceblue;
}

.votos button {
  background-color: transparent;  
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.votos button:hover {
  background-color: #5750d9;
}

.boxRespuestas{
    width: 1200px;         
    margin: 50px auto;        
    padding: 30px;
    background-color: #424038; 
    border-radius: 20px;     
    text-align: left;       
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}